<div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-2">
      </div>
      <div class="col-lg-6 col-md-8 login-box">
        <div class="col-lg-12 login-title">
          ATR Password Reset
        </div>
        <div class="col-lg-12 login-form">
          <div class="col-lg-12 login-form">
            <form
              *ngIf="!isChanged"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate>
            <div class="form-group">
              <label for="username" class="form-control-label">
                USERNAME
              </label>
              <input
                type="text"
                class="form-control"
                name="username"
                [(ngModel)]="form.username"
                required
                #username="ngModel"
              />
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="username.errors && !isSub">
                Username is required!
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="form-control-label">
                PASSWORD
              </label>
              <input
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="form.password"
                required
                minlength="6"
                #password="ngModel"/>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="password.errors && !isSub">
                <div *ngIf="password.errors['required']">
                  Password is required
                </div>
                <div *ngIf="password.errors['minlength']">
                  Password must be at least 6 characters
                </div>
              </div>
            </div>
            <div class="form-group">
                <label for="npassword" class="form-control-label">
                  NEW PASSWORD
                </label>
                <input
                  type="password"
                  class="form-control"
                  name="npassword"
                  [(ngModel)]="form.npassword"
                  required
                  minlength="6"
                  #password="ngModel"/>
                <div
                  class="alert alert-danger"
                  role="alert"
                  *ngIf="password.errors && !isSub">
                  <div *ngIf="password.errors['required']">
                    New Password is required
                  </div>
                  <div *ngIf="password.errors['minlength']">
                    New Password must be at least 6 characters
                  </div>
                </div>
              </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block">
                Reset
              </button>
            </div>
            <div class="form-group">
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="isSub && !isChanged">
                  Reset failed: {{ errorMessage }}
              </div>
            </div>
            </form>
            <div class="alert alert-success" *ngIf="isChanged">
              Password reset successful
              <!-- <br><br>
              <button class="btn btn-primary btn-block" *ngIf="isLoggedIn" (click)="onClick()">
                Refresh
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>